body {
    margin: 0;
    height: 730px;
    background-color: #6943FF;
    font-family: 'Inter', sans-serif;
}

.bolden {
    font-weight: bold;
}

#main {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    width: 120px;
    height: 80px;
    color: white;
    box-sizing: border-box;
    text-align: center;
    font-weight: 800;
    font-size: 58px;
}

#convert-btn {
    margin-top: 25px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

#bottom {
    padding: 30px 10px 20px 10px;
    margin-top: 30px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.measure-section {
    margin: 10px;
    text-align: center;
    background-color: #FFFFFF;
    width: 98%;
}

.measure-title {
    font-weight: 600;
    color: #5A537B;
    margin-bottom: 0px;
}

.measure-p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #353535;
}

